.Accueil-logo {
  margin: 0 auto;
  height: 25vmin;
}

.blocCentral {
  padding: 25px;
  margin: 10px;
  background-color: white;
  text-align: center;
  border-radius: 15px;
}

.footerAccueil{
  text-align: center;
}

.footerAccueil a{
  color: #EB7842 !important;
}
.footerAccueil a:hover{
  color: #EB7842 !important;
}
