.Inscription-logo {
  margin: 0 auto;
  height: 15vmin;
}

body {
  background-color: #f0f0ed !important;
}

.blocCentral {
  padding: 25px;
  margin: 10px;
  background-color: white;
  text-align: center;
  border-radius: 15px;
}

.blocCentral button {
  background-color: #EB7842;
  border-color: #EB7842;
}

.footer{
  text-align: center;
  margin-bottom: 30px;
}

.footer a{
  color: #EB7842;
}
.footer a:hover{
  color: #EB7842;
}
