
.jeuSol img {
    object-fit: cover !important;
}

.jeuSol img:hover {
    object-fit: cover !important;
    box-shadow: 5px 5px 5px 5px #EB7842;
}

.jeuSol input:checked ~ img {
    object-fit: cover !important;
    box-shadow: 5px 5px 5px 5px #EB7842;
}