#trou {
    color: #EB7842;
    background-color: transparent;
    border-style: none; 
    font-size: 30px;
    width: 35%;
    display: inline;
}
#trou::placeholder {
    color: #EB7842;
    font-weight: bold;
    font-size: 30px;
  }
#phrase {
    text-align: center;
    /* margin-left: 20%; */
}
.txtATrouLogo {
    margin: 0 auto;
    height: 100px;
}

.rep {
    background-color: transparent !important;
    color: black !important;
    border-style: none !important;
    font-size: 28px !important;
}
.rep:hover {
    font-weight: bold;
}
.rep:focus {
    color: #EB7842 !important;
    border-style: none !important;
    font-weight: bold;
    outline:none !important;
}

.footerLeft, .footerRight {
    position: fixed;
    bottom: 10%;
    width: 150px;
    height: 50px;
}
.footerLeft a, .footerRight a{
    color: white !important;
}
.footerRight {
    right: 10%;
}
.footerLeft {
    left: 10%;
}
