@font-face {
    font-family: GrandHotel;
    src: url("./GrandHotel-Regular.ttf");
}
.titlePAM {
  font-family: GrandHotel;
  font-size: 50px;
}

body {
  background-color: #f0f0ed !important;
}

/* SET ALL BUTTONS ORANGE */
button {
  background-color: #EB7842 !important;
  border-color: #EB7842 !important;
}

/* FOR SMALL BUTTONS ON RIGHT TOP CORNER */
.smallButton {
  background-color: #EB7842 !important;
  border-color: #EB7842 !important;
  border-radius: 50% !important;
  width:55px;
	height:55px;
}
.smallButton a{
  color: white !important;
}

/* TO GET THE ORANGE HALO AROUND INPUTS */
.form-control:focus {
  border-color: #f2a45c !important;
  box-shadow: 0 0 8px rgb(242,164,92) !important;
}
